.table-view .table-row-cell {
	-fx-font-size: 16px;
	-fx-cell-size: 45px;
	-fx-alignment: center-left;
    -fx-background-insets: 0;
}
.table-view .table-row-cell .table-cell{
    -fx-border-width: 0px;
}

/**
 * 表头背景颜色变化
 */
.table-column .label{
	-fx-font-size: 16px;
	-fx-border-width: 0px;
}

.table-view *.column-header-background { /* FX theme stylesheet */

-fx-background-color: #5f93e7;

-fx-background-insets: 0px, 0px;

}
